//Variables

$tertiary : #81B1B2; //
$secondary : #000000; //black
$main : #FAE894; //mellow yellow
$neutral : #FCFBE3; //creme
$dark: #181A1B; //charcoal


//MEDIA QUERY RANGES
$large : "only screen and (max-width:1200px)";
$medium : "only screen and (max-width:720px)";
$mobile : "only screen and (max-width:480px)";

//fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Qwigley);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
  box-sizing : border-box;
  transition : all 0.5s ease;
}

p {
  font-weight: bold;
}

body {
  margin : 0px;
  padding : 0px;
  min-height: 100vh;
  height: 100%;
  display : flex;
  flex-flow : row wrap;
  background-image : url('./../images/upfeathers.png');

  @media #{$large} {
    color: brown;
  }

  @media #{$medium} {
    color: red;
  }

  @media #{$mobile} {
    color: blue;
  }

  #navbar {
    height: 35px;
    width : 100%;
    background-color: $tertiary;
    position : absolute;
    top : 0;
    left : 0;
    box-shadow : rgba(0,0,0,.2) 3px 5px 5px;
    opacity: 0.9;

      @media #{$large} {
        width: 100%;
      }

      @media #{$medium} {
        width: 100%;
      }

      @media #{$mobile} {
        width: 100%;
      }
  }

  .cuser {
    color: $neutral;
    font-family: 'Righteous';
    font-size: 20px;
    float: right;
    margin-right: 15px;
    padding: 5px;
    height: 35px;
    line-height: 30px;
  }

  .cuser:hover {
    border-bottom: 25px solid $neutral;
    span {
      color: $dark;
    }
  }

  .user {
    color: $neutral;
    font-family: 'Righteous';
    font-size: 20px;
    float: right;
    margin-right: 15px;
    padding: 5px;
    height: 35px;
    line-height: 30px;

    a {
      color: $neutral;
      text-decoration: none;
      transition: 0s ease;
    }

    a:hover {
      color: $dark;
      transition: 0s ease;
    }
  }

  .user:hover {
    // color: $dark;
    // transition: 0s ease;
    border-bottom: 25px solid $neutral;
    a {
      color: $dark;
    }
  }

  #user-list {
    margin-top: 60px;
    margin-left: 100px;
  }

  #register {

  }

  #login {

  }

  #logincontent {
    height: 95vh;
    padding-top: 15%;
    // margin-top: 0px;

      @media #{$large} {
        margin-top: 50px;
      }

      @media #{$medium} {
        margin-top: 50px;
      }

      @media #{$mobile} {
        width: 100%;
        height: 90vh;
        margin-top: 0px;
      }
  }

  #loginmain {
    margin: auto;
    height: 300px;
    width: 400px;
    background-color: $tertiary;
    padding-top: 50px;
    opacity: 0.9;
    // box-shadow : rgba(0,0,0,.2) 3px 5px 5px;
    text-align: center;
    border-radius: 5px;

      @media #{$large} {
        width: 400px;
      }

      @media #{$medium} {
        width: 300px;
      }

      @media #{$mobile} {
        width: 100%;
        min-height: 400px;
        margin-top: 50px;
      }
  }

  #loginpopup {
    height: 50px;
    width: 375px;
    background-color: $tertiary;
    padding-top: 15px;
    position: absolute;
    top: 60px;
    right: 5px;
    opacity: 0.9;
    box-shadow : rgba(0,0,0,.2) 3px 5px 5px;
    text-align: center;
    border-radius: 5px;
    display: none;
  }

  input {
    color: $dark;
    text-align: center;
    font-size: 25px;
    width: 250px;
    height: 50px;
    margin: 15px;
  }

  #navlogo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $dark;
    color: $neutral;
    font-family: 'Qwigley';
    align: center;
    padding-left: 5px;
    font-size: 100px;
    line-height: 100px;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;

    @media #{$mobile} {
      width: 75px;
      height: 75px;
      font-size: 75px;
      line-height: 75px;
      padding-left: 3px;
    }
  }

  #main {
    min-height : 100%;
    height: 100%;
    width : 100%;
    flex: 1;
    display: flex;
    flex-flow: row wrap;

    #homebanner {
      width : 100%;
      height : 350px;
      margin-bottom: 15px;
      background-image: url('http://chromecastbg.alexmeub.com/images/1200_AF1QipN0X6n39_rePcGsmL_LgxFbthfIyDHjBeMlsmr5.jpg');
      background-position : 50%;
      display : flex;
      flex-flow : row wrap;
      justify-content : flex-end;
      box-shadow : rgba(0,0,0,.2) 3px 5px 5px;

      @media #{$large} {
        justify-content: center;
      }

      @media #{$medium} {
        justify-content: center;
      }

      @media #{$mobile} {
        display: none;
      }

      #welcomebanner {
        width : 400px;
        height : 200px;
        background-color: $secondary;
        opacity : 0.5;
        align-self : flex-end;
        font-family: 'Qwigley';
        color: $neutral;
        font-size: 50px;
        line-height: 200px;
        margin-right : 50px;
        border-top-left-radius : 20px;
        border-top-right-radius : 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        // @media #{$large} {
        //   margin: 0px auto;
        //   justify-content: center;
        // }

        @media #{$medium} {
          margin: 0px auto;
          justify-content: center;
        }
      }
    }

    #content {
      display : flex;
      flex-flow : row wrap;
      justify-content : center;
      min-height: 250px;
      font-family: 'Lato';
      margin : 5px;


      @media #{$large} {
        height : 100%;
        justify-content : center;
      }

      @media #{$medium} {
        height : 100%;
        justify-content : center;
      }

      @media #{$mobile} {
        margin-top: 40px;
        height : 100%;
      }

      .content-block {
        flex : 0 0 22%;
        background-color: $neutral;
        padding : 5px;
        margin : 5px;
        font-size: small;
        box-shadow: rgba(0,0,0,.2) 3px 5px 5px;

        img {
          max-width : 100%;
          width : 100%;
          height: 250px;

          @media #{$large} {
            // padding : 10px;
          }

          @media #{$medium} {
            // padding : 10px;
          }

          @media #{$mobile} {
            // padding : 10px;
          }
        }

        p {
          max-width : 100%;
          width : 100%;

          @media #{$large} {
            padding : 10px;
            color : brown;
          }

          @media #{$medium} {
            padding : 10px;
          }

          @media #{$mobile} {
            padding : 10px;
            color: blue;
          }
        }

        //content block
        @media #{$large} {
          flex : 0 0 30%;
        }

        @media #{$medium} {
          flex : 0 0 45%;
        }

        @media #{$mobile} {
          flex : 0 0 90%;
        }
      }
    }
  }

  .push {
    height: 5vh;
  }

  #footer {
    align-self: flex-end;
    height: 5vh;
    width : 100%;
    background-color: $tertiary;
    position : relative;
    bottom: 0;
    left: 0;
    margin-top: 15px;
    opacity: 0.9;
    box-shadow : rgba(0,0,0,.2) 5px 3px 5px 5px;

      @media #{$large} {
        min-height : 35px;
        width : 100%;
      }

      @media #{$medium} {
        min-height : 35px;
        width : 100%;
      }

      @media #{$mobile} {
        display: none;
      }
  }
}

//'show' jade template
.single_content {
  width: 100%;
  min-height: 90vh;
  margin-top: 50px;
}

.show {
  margin: auto;
  background-color: $dark;
  width: 1015px;
  padding: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  box-shadow : rgba(0,0,0,.2) 5px 3px 5px 5px;
  color: $neutral;
}

.mainshow {
  flex: 0 0 800px;
  margin-right: 15px;

  img {
    width: 100%;
  }

  p {
    font-family: 'Lato';
  }
}

#sideshow {
  flex: 0 0 1;
  max-height: 100vh;
}

.sideshowcontent {

  img {
    width: 100%;
    height: 10vh;
    display: inline-block;
  }
}

.editform {
  width: 75px;
  display: inline-block;
}

#newphoto {
  margin-top: 150px;
}

#newusercontent {
  height: 95vh;
  padding-top: 10%;
  margin-top: 50px;
}

#newusermain {
  margin: auto;
  height: 300px;
  width: 400px;
  background-color: $tertiary;
  padding-top: 50px;
  opacity: 0.9;
  // box-shadow : rgba(0,0,0,.2) 3px 5px 5px;
  text-align: center;
  border-radius: 5px;
}

.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #114242;
  -webkit-box-shadow:inset 0px 1px 0px 0px #114242;
  box-shadow:inset 0px 1px 0px 0px #114242;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #75e6e6), color-stop(1, #114242));
  background:-moz-linear-gradient(top, #75e6e6 5%, #114242 100%);
  background:-webkit-linear-gradient(top, #75e6e6 5%, #114242 100%);
  background:-o-linear-gradient(top, #75e6e6 5%, #114242 100%);
  background:-ms-linear-gradient(top, #75e6e6 5%, #114242 100%);
  background:linear-gradient(to bottom, #75e6e6 5%, #114242 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#75e6e6', endColorstr='#114242',GradientType=0);
  background-color:#75e6e6;
  border:0px solid $neutral;
  display:inline-block;
  cursor:pointer;
  color:$dark;
  font-family: 'Oswald';
  font-size:15px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}
.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #114242), color-stop(1, #75e6e6));
  background:-moz-linear-gradient(top, #114242 5%, #75e6e6 100%);
  background:-webkit-linear-gradient(top, #114242 5%, #75e6e6 100%);
  background:-o-linear-gradient(top, #114242 5%, #75e6e6 100%);
  background:-ms-linear-gradient(top, #114242 5%, #75e6e6 100%);
  background:linear-gradient(to bottom, #114242 5%, #75e6e6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#114242', endColorstr='#75e6e6',GradientType=0);
  background-color:#114242;
  color: $neutral;
  transition: 0.1s ease;
}
.button:active {
  position:relative;
  top:1px;
}