@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Qwigley);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Lato);
* {
  box-sizing: border-box;
  transition: all 0.5s ease; }

p {
  font-weight: bold; }

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  background-image: url("./../images/upfeathers.png"); }
  @media only screen and (max-width: 1200px) {
    body {
      color: brown; } }
  @media only screen and (max-width: 720px) {
    body {
      color: red; } }
  @media only screen and (max-width: 480px) {
    body {
      color: blue; } }
  body #navbar {
    height: 35px;
    width: 100%;
    background-color: #81B1B2;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px;
    opacity: 0.9; }
  body .user {
    color: white;
    font-family: 'Righteous';
    font-size: 20px;
    float: right;
    margin-right: 15px;
    padding: 5px;
    height: 50px;
    line-height: 35px; }
  body .user:hover {
    color: black; }
  body #loginpopup {
    display: none; }
  body #loginpopup {
    height: 50px;
    width: 375px;
    background-color: brown;
    padding-top: 15px;
    position: absolute;
    top: 60px;
    right: 5px;
    opacity: 0.9;
    text-align: center;
    border-radius: 5px; }
  body #navlogo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #181A1B;
    color: #FCFBE3;
    font-family: 'Qwigley';
    align: center;
    font-size: 100px;
    line-height: 100px;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px; }
    @media only screen and (max-width: 480px) {
      body #navlogo {
        width: 75px;
        height: 75px;
        font-size: 75px;
        line-height: 75px;
        padding-left: 3px; } }
  body #main {
    height: 100%;
    min-height: 100%;
    width: 100%; }
    body #main #homebanner {
      width: 100%;
      height: 350px;
      margin-bottom: 15px;
      background-image: url("http://chromecastbg.alexmeub.com/images/1200_AF1QipN0X6n39_rePcGsmL_LgxFbthfIyDHjBeMlsmr5.jpg");
      background-position: 50%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px; }
      @media only screen and (max-width: 720px) {
        body #main #homebanner {
          justify-content: center; } }
      @media only screen and (max-width: 480px) {
        body #main #homebanner {
          display: none; } }
      body #main #homebanner #welcomebanner {
        width: 400px;
        height: 200px;
        background-color: #000000;
        opacity: 0.5;
        align-self: flex-end;
        font-family: 'Qwigley';
        color: #FCFBE3;
        font-size: 50px;
        line-height: 200px;
        margin-right: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center; }
        @media only screen and (max-width: 720px) {
          body #main #homebanner #welcomebanner {
            margin: 0px auto;
            justify-content: center; } }
    body #main #content {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      min-height: 250px;
      font-family: 'Lato'; }
      @media only screen and (max-width: 1200px) {
        body #main #content {
          height: 100%;
          justify-content: center; } }
      @media only screen and (max-width: 720px) {
        body #main #content {
          height: 100%;
          justify-content: center; } }
      @media only screen and (max-width: 480px) {
        body #main #content {
          margin-top: 40px;
          height: 100%; } }
      body #main #content .content-block {
        flex: 0 0 22%;
        background-color: #FCFBE3;
        padding: 5px;
        margin: 5px;
        box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px; }
        body #main #content .content-block img {
          max-width: 100%;
          width: 100%; }
        body #main #content .content-block p {
          max-width: 100%;
          width: 100%; }
          @media only screen and (max-width: 1200px) {
            body #main #content .content-block p {
              padding: 10px;
              color: brown; } }
          @media only screen and (max-width: 720px) {
            body #main #content .content-block p {
              padding: 10px; } }
          @media only screen and (max-width: 480px) {
            body #main #content .content-block p {
              padding: 10px;
              color: blue; } }
        @media only screen and (max-width: 1200px) {
          body #main #content .content-block {
            flex: 0 0 30%; } }
        @media only screen and (max-width: 720px) {
          body #main #content .content-block {
            flex: 0 0 45%; } }
        @media only screen and (max-width: 480px) {
          body #main #content .content-block {
            flex: 0 0 90%; } }
  body #footer {
    min-height: 50px;
    width: 100%;
    background-color: #81B1B2;
    position: relative;
    margin-top: 15px;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 3px 5px 5px; }

.single_content {
  width: 100%;
  min-height: 86vh;
  margin-top: 50px; }

.show {
  margin: auto;
  background-color: #181A1B;
  width: 1015px;
  padding: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 3px 5px 5px;
  color: #FCFBE3; }

.mainshow {
  flex: 0 0 800px;
  margin-right: 15px; }
  .mainshow img {
    width: 100%; }
  .mainshow p {
    font-family: 'Lato'; }

#sideshow {
  flex: 0 0 1;
  max-height: 100vh; }

.sideshowcontent img {
  width: 100%;
  display: inline-block; }

.editform {
  width: 75px;
  display: inline-block; }

.button {
  width: 60px;
  height: 30px;
  background-color: #81B1B2;
  font-family: 'Oswald';
  font-size: 15px;
  border-width: 0px;
  box-shadow: rgba(255, 255, 255, 0.2) 1px 2px 1px 1px; }
