@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Qwigley);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Lato);
* {
  box-sizing: border-box;
  transition: all 0.5s ease; }

p {
  font-weight: bold; }

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  background-image: url("./../images/upfeathers.png"); }
  @media only screen and (max-width: 1200px) {
    body {
      color: brown; } }
  @media only screen and (max-width: 720px) {
    body {
      color: red; } }
  @media only screen and (max-width: 480px) {
    body {
      color: blue; } }
  body #navbar {
    min-height: 50px;
    height: 50px;
    width: 100%;
    background-color: brown;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px;
    opacity: 0.9; }
  body .user {
    color: white;
    font-family: 'Righteous';
    font-size: 20px;
    float: right;
    margin-right: 15px;
    padding: 5px;
    height: 50px;
    line-height: 50px; }
  body .user:hover {
    color: black; }
  body #loginpopup {
    height: 50px;
    width: 375px;
    background-color: brown;
    padding-top: 15px;
    position: absolute;
    top: 60px;
    right: 5px;
    opacity: 0.9;
    text-align: center;
    border-radius: 5px; }
  body #navlogo {
    margin-left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-family: 'Qwigley';
    align: center;
    font-size: 100px;
    line-height: 100px;
    position: absolute;
    top: 0px;
    left: 0px; }
  body #main {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin-top: 50px; }
    body #main #homebanner {
      width: 100%;
      height: 370px;
      background-color: #5E5E79;
      background-image: url("http://chromecastbg.alexmeub.com/images/1200_AF1QipN0X6n39_rePcGsmL_LgxFbthfIyDHjBeMlsmr5.jpg");
      background-position: 50%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px; }
      @media only screen and (max-width: 720px) {
        body #main #homebanner {
          justify-content: center; } }
      @media only screen and (max-width: 480px) {
        body #main #homebanner {
          display: none; } }
      body #main #homebanner #welcomebanner {
        width: 600px;
        height: 300px;
        background-color: #000000;
        opacity: 0.8;
        align-self: flex-end;
        font-family: 'Qwigley';
        color: white;
        font-size: 50px;
        line-height: 300px;
        margin-right: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center; }
        @media only screen and (max-width: 720px) {
          body #main #homebanner #welcomebanner {
            margin: 0px auto;
            justify-content: center; } }
    body #main #content {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      min-height: 250px;
      margin: 25px;
      font-family: 'Lato'; }
      @media only screen and (max-width: 1200px) {
        body #main #content {
          height: 100%;
          justify-content: center;
          margin: 50px 10px; } }
      @media only screen and (max-width: 720px) {
        body #main #content {
          height: 100%;
          justify-content: center;
          margin: 50px 10px; } }
      @media only screen and (max-width: 480px) {
        body #main #content {
          height: 100%; } }
      body #main #content .content-block {
        flex: 0 0 22%;
        background-color: white;
        padding: 10px;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px; }
        body #main #content .content-block img {
          max-width: 100%;
          width: 100%; }
          @media only screen and (max-width: 1200px) {
            body #main #content .content-block img {
              padding: 10px; } }
          @media only screen and (max-width: 720px) {
            body #main #content .content-block img {
              padding: 10px; } }
          @media only screen and (max-width: 480px) {
            body #main #content .content-block img {
              padding: 10px; } }
        body #main #content .content-block p {
          max-width: 100%;
          width: 100%; }
          @media only screen and (max-width: 1200px) {
            body #main #content .content-block p {
              padding: 10px;
              color: brown; } }
          @media only screen and (max-width: 720px) {
            body #main #content .content-block p {
              padding: 10px; } }
          @media only screen and (max-width: 480px) {
            body #main #content .content-block p {
              padding: 10px;
              color: blue; } }
        @media only screen and (max-width: 1200px) {
          body #main #content .content-block {
            flex: 0 0 30%; } }
        @media only screen and (max-width: 720px) {
          body #main #content .content-block {
            flex: 0 0 45%; } }
        @media only screen and (max-width: 480px) {
          body #main #content .content-block {
            flex: 0 0 90%; } }
  body #footer {
    min-height: 50px;
    width: 100%;
    background-color: brown;
    position: relative;
    margin-top: 25px;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 3px 5px 5px; }
