@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Qwigley);
@import url(https://fonts.googleapis.com/css?family=Dosis);
* {
  box-sizing: border-box;
  transition: all 0.5s ease; }

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row wrap; }
  @media only screen and (max-width: 1200px) {
    body {
      color: brown; } }
  @media only screen and (max-width: 720px) {
    body {
      color: red; } }
  @media only screen and (max-width: 480px) {
    body {
      color: blue; } }
  body #navbar {
    min-height: 50px;
    width: 100%;
    background-color: #3E3E5B;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px; }
  body #main {
    height: 100%;
    min-height: 100%;
    width: 100%;
    background-color: #FFA500;
    background-image: url("./../images/upfeathers.png");
    margin-top: 50px; }
    body #main #homebanner {
      width: 100%;
      height: 350px;
      background-color: #5E5E79;
      background-image: url("http://chromecastbg.alexmeub.com/images/1200_AF1QipN0X6n39_rePcGsmL_LgxFbthfIyDHjBeMlsmr5.jpg");
      background-position: 50%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end; }
      body #main #homebanner #welcomebanner {
        width: 400px;
        height: 300px;
        padding-right: 50px;
        background-color: #000000;
        opacity: 0.5;
        align-self: flex-end;
        margin-right: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px; }
    body #main #content {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      min-height: 100%;
      margin: 50px 0px;
      font-family: 'Montserrat'; }
      @media only screen and (max-width: 1200px) {
        body #main #content {
          height: 100%;
          justify-content: center;
          margin: 50px 10px; } }
      @media only screen and (max-width: 720px) {
        body #main #content {
          height: 100%;
          justify-content: center;
          margin: 50px 10px; } }
      @media only screen and (max-width: 480px) {
        body #main #content {
          height: 100%; } }
      body #main #content .content-block {
        flex: 0 0 22%;
        background-color: white;
        padding: 10px;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px; }
        body #main #content .content-block img {
          max-width: 100%;
          width: 100%; }
          @media only screen and (max-width: 1200px) {
            body #main #content .content-block img {
              padding: 10px; } }
          @media only screen and (max-width: 720px) {
            body #main #content .content-block img {
              padding: 10px; } }
          @media only screen and (max-width: 480px) {
            body #main #content .content-block img {
              padding: 10px; } }
        body #main #content .content-block p {
          max-width: 100%;
          width: 100%; }
          @media only screen and (max-width: 1200px) {
            body #main #content .content-block p {
              padding: 10px;
              color: brown; } }
          @media only screen and (max-width: 720px) {
            body #main #content .content-block p {
              padding: 10px;
              color: cyan; } }
          @media only screen and (max-width: 480px) {
            body #main #content .content-block p {
              padding: 10px;
              color: blue; } }
        @media only screen and (max-width: 1200px) {
          body #main #content .content-block {
            flex: 0 0 30%;
            background-color: cyan; } }
        @media only screen and (max-width: 720px) {
          body #main #content .content-block {
            flex: 0 0 45%;
            background-color: brown; } }
        @media only screen and (max-width: 480px) {
          body #main #content .content-block {
            flex: 0 0 90%;
            background-color: black; } }
  body #footer {
    min-height: 50px;
    width: 100%;
    background-color: #008000;
    position: relative;
    bottom: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 3px 5px 5px; }
