doctype html
html(lang="en")
  head
    link(href="/css/styles.css", rel="stylesheet")
    title
  body
    div#navbar
      div#register.user register
      div#login.user login
    div#loginpopup
      form(method="POST" action="#" enctype="application/x-www-form-urlencoded")#form1
      input(type="text" name="username" value="username")
      input(type="text" name="password" value="password")
      button(type="submit" form="form1" value="SUBMIT") login
    a(href="/")
      div#navlogo Og
    div#main
      block content
    div#footer
      div#social
      div#about.info
      div#contacts.info