doctype html
html(lang="en")
  head
    link(href="/css/styles.css", rel="stylesheet")
    title
  body
    div#navbar
      div#register.user
        a(href="#")
          span register
      div#login.user
        a(href="/gallery/login")
          span login
    //- div#loginpopup
    //-   form(method="POST" action="/gallery/login" enctype="application/x-www-form-urlencoded")#form1
    //-   input(type="text" name="username" value="username")
    //-   input(type="password" name="password")
    //-   button(type="submit" form="form1" value="SUBMIT") Login
    a(href="/")
      div#navlogo Og
    div#main
      block content
    div#footer
      div#social
      div#about.info
      div#contacts.info