extends ./../layout

block content
  div#homebanner
    div#welcomebanner

  div#content
    each photo in Photos
      div.content-block
        img(src="#{photo.link}")
        p
          p author : #{photo.author}
          p link : #{photo.link}
          p description : #{photo.description}