extends ./../layout

block content
  each photo in Photos
    div
      img(src="#{photo.link}")
      ul
        li author : #{photo.author}
        li link : #{photo.link}
        li description : #{photo.description}