extends ./../layout

block content
  div#homebanner
    div#welcomebanner original graphics

  div#content
    each photo in Photos
      div.content-block
        a(href="./gallery/#{photo.id}")
          img(src="#{photo.link}")
        p By : #{photo.author}
        p #{photo.description}