extends ./../layout

block content
  div#newphoto
    form(method="POST" action="/gallery" enctype="application/x-www-form-urlencoded")#form5
      input(type="hidden" name="_method" value="POST")
      p author:
        input(type='text' name="author")
      br
      p link:
        input(type='text' name="link")
      br
      p description:
        input(type='text' name="description")
      br
      button(type="submit" form="form5" value="Submit")#submit Submit